<body>
<div class="bg">
  <div class="welcome-text">
    <button class="admin"><a href="/adminlogin" style="text-decoration: none; color:white; background-color: transparent;">Login as Admin</a></button>
    <!-- <button class="admin" routerLink="adminlogin">Login as Admin</button> -->
    <h1>Welcome to ACGHS Bank</h1>
    <div class="switch">
      <button (click)="onLogin()">Login</button>
      <br><br>
      <div style="color: rgb(19, 19, 19);">Or</div>
      <br>
      <p style="font-weight: 1000px; color: rgb(12, 12, 12);">Don't have an account? <style></style></p>
      <button><a href="/openAccount" style="text-decoration: none; color:white; background-color: transparent;">Register for a new Account</a></button><br><br><br>
      <p id="end">Never share your password or Card details with anyone.</p>
    </div>
  </div>
</div>
</body>
